/* src/ImageCarousel.css */

.image-carousel {
    position: relative;
    width: 100%;
    height: 0.1; /* Set height to 0 to create space for padding */
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    overflow: hidden;
  }
  
  .image-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the entire container is covered */
  }
  
  .image-carousel p {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position as needed */
    left: 20px; /* Adjust the left position as needed */
    color: white; /* Set text color */
    font-size: 24px; /* Set font size */
  }
  